#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.newsStyle {
  width: 90%;
  text-align: left;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 20px;
  margin-left: 3%;
}

.newsStyle img {
  max-width: 200px;
}
