<template>
	<div>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-grid-only@1.0.0/bootstrap.css" rel="stylesheet" />
		<GetNews>
			<h1 slot="title">Top News</h1>
		</GetNews>
	</div>
</template>

<script>
	import GetNews from '../components/GetNews.vue'

	export default {
		name: 'news',
		components: {
			GetNews
		}
	}
</script>
