<template>
	<div class="row">
		<div class="col-md-8">
			<slot name="title"></slot>
			<div class="berita" v-for="(article, index) in news" :key="index" v-bind:class="{newsStyle : showStyle}">
				<img :src="article.urlToImage" alt="">
				<h4>{{article.title}}</h4>
				<p>{{article.description}} <a :href="article.url">Read More</a></p>
			</div>
		</div>
		<div class="col-md-4">
			<h1>Author</h1>
			<div class="berita">
				<img src="https://1.bp.blogspot.com/-mnrvUAJM4Jg/XAY3h3jSF0I/AAAAAAAAAKk/-Xm2NfN8qUIqk0tBzHVq54SOFsDIXC2twCLcBGAs/s320/1541375101796.jpg">
				<h4>Ferguso</h4>
				<p><a href="https://gitlab.com/arethuza/">gitlab</a> - <a href="https://steamcommunity.com/id/therethuza">steam</a></p>
			</div>
		</div>
	</div>
</template>

<script>
	import axios from 'axios'
	export default {
		name: 'NewsItem',
		data () {
			return {
				news: null,
				showStyle: true
			}
		},
		created () {
			axios.get('https://newsapi.org/v2/top-headlines?country=id&apiKey=2979d06597f4401a94ff299079f34def')
			.then((response) => { this.news = response.data.articles })
		}
	}
</script>